<!DOCTYPE html>

<html>
<head>
    <title>about</title>
    <link rel="icon" href="/image/weather.png">
    <link rel="stylesheet" href ="/css/styles.css">
</head>
<body>
    <div class="main-content">  
    {{>header}}
    <img class="portrait" src="/image/klay.jpg">
    </div>

    {{>name}}
</body>
</html>